<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WorkloadGenerator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>newWorkload</display-name>
    <servlet-name>newWorkload</servlet-name>
    <servlet-class>workload.webFrontend.servlet.Workload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newWorkload</servlet-name>
    <url-pattern>/ajax/workload/new</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>workLoadStatus</display-name>
    <servlet-name>workLoadStatus</servlet-name>
    <servlet-class>workload.webFrontend.servlet.WorkLoadStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>workLoadStatus</servlet-name>
    <url-pattern>/ajax/workload/status</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkloadStop</display-name>
    <servlet-name>WorkloadStop</servlet-name>
    <servlet-class>workload.webFrontend.servlet.WorkloadStop</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkloadStop</servlet-name>
    <url-pattern>/ajax/workload/stop</url-pattern>
  </servlet-mapping>
</web-app>